:host {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.password_label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}

.password_input {
    padding: 7px 15px;
    font-size: 16px;
}

.strength_bar {
    display: flex;
    justify-content: space-between;
}

.level_section {
    width: 50px;
    height: 5px;
    background-color: grey;
    display: inline-block;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}