<label class="password_label" for="password">
  Password is: {{ passwordStrength }}
  <input
    type="password"
    id="password"
    name="password"
    class="password_input"
    [(ngModel)]="password"
    (input)="checkPasswordStrength()"
  />
</label>

<div class="strength_bar">
  <span
    class="level_section"
    [ngClass]="{
      red: passwordStrength === 'short' || passwordStrength === 'easy',
      yellow: passwordStrength === 'medium',
      green: passwordStrength === 'strong'
    }"
  ></span>
  <span
    class="level_section"
    [ngClass]="{
      red: passwordStrength === 'short',
      yellow: passwordStrength === 'medium',
      green: passwordStrength === 'strong'
    }"
  ></span>
  <span
    class="level_section"
    [ngClass]="{
      red: passwordStrength === 'short',
      green: passwordStrength === 'strong'
    }"
  ></span>
</div>
