.strength_bar {
    display: flex;
    justify-content: space-between;
}

.level_section {
    width: 50px;
    height: 5px;
    background-color: grey;
    display: inline-block;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}